<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Вместо странички в соцсети</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://sun9-39.userapi.com/impg/rblne0aEPSL1aej6_Y_gep5-UKoKNVLy7S-gbg/lP_KBaH9gCA.jpg?size=1200x1600&quality=95&sign=5d664b888dc0f1eb1babdcb9c0d522f3&type=album" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">Всем привет!</h1>
        <p class="lead">Меня зовут <a href="https://vk.com/kumysbudapest">Рябов Артём</a>. Мне 16 лет. Живу в городе Можга (Удмуртия). Увлекаюсь всем подряд: от программирования и физики, до истории и политики.</p>
        <p class="lead">Есть небольшой опыт разработки: закончил 2 курса <a href="https://academy.yandex.ru/lyceum/">Лицея Академии Яндекса</a> (сертификат с отличием), то есть успешно защитил 3 проекта.<br>Дружной командой разрабатывали навык для Алисы в рамках <a href="https://education.yandex.ru/olymp/inf2022/informatics-second">хакатона от Яндекс Учебника</a> (взяли гран-при)<br>Прошёл несколько курсов по разработке в Stepik.</p>
        <p class="lead">Очень хочу попасть на интенсивы от Академии Яндекса, так как на них я получу новые навыки, которые пригодтся для осуществления новых проектов</p>
      </div>
    </div>
</body>
</html>